<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {% include head-custom.html %}
  </head>


  <body>
    <div class="wrapper">
      <header>
        <h1 style="white-space: nowrap;">
        <a href="{{ "/" | absolute_url }}" style="text-decoration: none; color: inherit;">
          
          {{ site.title | default: site.github.repository_name }}
        </a>
        </h1>


        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      
      <a href="https://github.com/ebpranto" target="_blank">
          <i class="fab fa-github fa-2x" style="margin-left: 50px; margin-right: 20px;"></i>
      </a>
      
      <a href="https://linkedin.com/in/ehsanul-bashar-pranto" target="_blank">
          <i class="fab fa-linkedin fa-2x" style="margin-right: 20px; color: #0077B5;"></i>
      </a>

<!--         <hr style="border: 2px solid #4b6cb7; margin: 20px 0; border-radius: 2px;"> -->
         <a href="mailto:ehsanulbashar190@gmail.com">
            <i class="fas fa-envelope fa-2x" style="margin-right: 50px;"></i>
        </a>


        <!-- CV Download Icon -->
      <a href="/assets/cv/ehsanul_bashar_cv.pdf" download style="margin-right: 50px;">
          <i class="fas fa-file-download fa-2x"></i>
      </a>
  
      <!-- Google Scholar Icon -->
      <a href="https://scholar.google.com/citations?user=YOUR_GOOGLE_SCHOLAR_ID" target="_blank">
          <i class="fas fa-graduation-cap fa-2x"></i>
      </a>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

  
</html>
